.settings-container {
  width: 100%;
  max-width: 450px;
  min-height: 100vh;
  background: linear-gradient(135deg, #151b24, #121724);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.settings-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.settings-header span {
  font-weight: 600;
  color: #ccc;
}

.settings-section {
  margin-bottom: 2rem;
}

.settings-section span {
  display: block;
  margin-bottom: 0.5rem;
}

.settings-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.setting svg {
  background-color: #151b24;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.setting {
  display: flex;
  align-items: center;
  gap: 20px;
}

.setting span {
  font-size: 0.8rem;
  font-weight: 600;
}

.arrowLeft {
  color: rgb(255, 187, 0);
}


.others {
  font-size: 0.9rem;
  font-weight: 600;
}


.toggle {
  width: 45px;
  height: 26px;
  background: #ccc;
  border-radius: 999px;
  position: relative;
  cursor: pointer;
  transition: background 0.25s ease;
}

.toggle.on {
  background:  rgb(255, 187, 0); 
}

.toggle-circle {
  width: 22px;
  height: 22px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.25s ease;
}

.toggle.on .toggle-circle {
  transform: translateX(22px);
}


.others {
  color: #ccc;
}