.settings-container {
  width: 100%;
  max-width: 450px;
  min-height: 100vh;
  background: linear-gradient(135deg, #151b24, #121724);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.settings-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.settings-header span {
  font-weight: 600;
}

.settings-section {
  margin-bottom: 2rem;
}

.settings-section span {
  display: block;
  margin-bottom: 0.5rem;
}

.settings-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.setting {
  display: flex;
  align-items: center;
  gap: 20px;
}

.setting span {
  font-size: 0.9rem;
  font-weight: 600;
}

.arrowLeft {
  color: rgb(255, 187, 0);
}


.others {
  font-size: 0.9rem;
  font-weight: 600;
}